.App {
  max-width: 50em;
  margin: 0 auto;
  padding: 32px;
}

.todo-input {
  font-size: 24px;
  border: none;
  width: 100%;
}

.todo-input:focus {
  outline: none;
}

.done {
  text-decoration: line-through;
  padding: 10px;

}
.undone{
  padding: 10px;
}

.todo {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  font-size: 24px;
  animation: fadeOut 15s ease-out;
}

@keyframes fadeOut {
    from {color: red}
    to {color: black}
}

.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  background: #d9d9d9;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  transition: all 300ms ease;
}

.checkbox:hover {
  opacity: 0.8;
}

.delete {
  display: none;
  margin: 0px 20px;
}

.delete:hover {
  opacity: 0.8;
}

.todo:hover .delete {
  display: block;
  cursor: pointer;
}
